:root {
  --sub-nav-count: 2;
  --width--nav-item: 150px;
  --width--nav: calc(var(--width--nav-item) * var(--sub-nav-count));
  --height--nav-item: 48px;
  --height--inner-li: calc(var(--height--nav-item) + 0);
  --color--bg--main: #21bde1;
  --color--bg--link-hover: #d5f2f9;
  --color--bg--nav: #fff;
  --color--text: #555;
}

body {
  padding: auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
}

header {
  background-color: #21bde1;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  display: auto;
}

header ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #555;
}

#js-triggers li {
  list-style: none;
  display: block;
  background-color: var(--color--bg--main);
  width: var(--width--nav-item);
  border: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: white;
  transition: 500ms;
}

#js-triggers li:hover {
  background-color: var(--color--bg--link-hover);
}
.modal-panel {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}

.modal-content-pane {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}
